@use "vars";

.MyOrder {
  top: 60px;
  right: 0px;
  width: 360px;
  bottom: 0px;
  border: 1px solid var(--very-light-pink);
  padding: 24px;
  position: fixed;
  animation: swipeLeft 0.26s ease;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: white;

}

.vaina{
  background-color: aqua;
  height: 50px;
}
.title-container {
  display: flex;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}
.my-order-content{
  overflow-y: scroll;
  max-height: 400px;
  scroll-behavior: smooth;
}
.order {
  gap: 16px;
  display: grid;
  padding: 0 24px;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 8px;
  background-color: var(--text-input-field);
  grid-template-columns: auto 1fr;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.primary-button {
  color: var(--white);
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  border-radius: 8px;
  background-color: var(--hospital-green);
}

@keyframes swipeLeft {
  0% {
    width: 0;
  }
  100% {
    width: 360px;
  }
}

@media (max-width: 640px) {
  .MyOrder {
    width: 100%;
  }
}
